
@{
    ViewBag.Title = "Activity";
}
<style>
    .header-point {
        display: inline-block;
        width: 32%;
    }

    .header-containe {
        color: brown;
        text-decoration: underline;
        font-size: 27px;
    }

    .block-section {
        display: block;
        line-height: 37px;
    }

        .block-section:hover {
            color: red;
        }
</style>

<h2>Activity</h2>


<div>
    <div class="header-point">
        <span class="header-containe">COLLEGE ACTIVITIES</span>
        <span class="block-section">NCC BOYS</span>
        <span class="block-section">NCC GIRLS</span>
        <span class="block-section">NCC </span>
        <span class="block-section">SPORTS</span>
    </div>
    <div class="header-point">
        <span class="header-containe">Exam</span>
        <span class="block-section">Degree College</span>
        <span class="block-section">Junior College</span>
    </div>
    <div class="header-point">
        <span class="header-containe">Result</span>
        <span class="block-section">Degree College</span>
        <span class="block-section">Junior College</span>
    </div>
</div>